
html, body {
  height: 100%;
  width: 100%;
}

.img-logo{
  width: 195px;
}
.register-div{
  padding-top: 50px;
}
.navbar-inverse {
    background-color: #566f85;
  }
.img-logo-home{
  width: 222px;
  margin-top: -10px;
}
.navbar {
    position: relative;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -95px !important;  /* 50% of your logo width */
    display: block;
}
.fa-cog{
  font-size: 36px;
}

.navbar-toggle{
  z-index:10;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {

  opacity: 0.5;
}
.np{
  padding: 0;
}
.nm{
  margin: 0;
}
.status{
  margin: 0px 0 10px;
  background-color: bisque;
  padding: 8px 0px 13px;
  border-radius: 7px;
}
.cf-bg{
  background-color:#566f85;
}
.account-title-text {
  margin-bottom: 10px;
}
.account-title-subtxt {
  font-size: 12px;
  margin-bottom: 2px;
}